Temporary/Resources/eBOCSPriceServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kpei.co.id/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://kpei.co.id/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kpei.co.id/">
      <s:element name="BondPriceReq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:Header" />
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="tns:ArrayOfFilterItem" />
                  <s:element minOccurs="0" maxOccurs="1" name="ext" type="tns:ArrayOfExtensionValue" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Header">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="asAt" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
        </s:sequence>
        <s:attribute name="id" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfFilterItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="filter" type="tns:FilterItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FilterItem">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="stringList" type="tns:StringList" />
            <s:element minOccurs="1" maxOccurs="1" name="dateTimeEqual" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTimeRange" type="tns:DateTimeRange" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTimeNotEqual" type="tns:DateTimeList" />
            <s:element minOccurs="0" maxOccurs="1" name="stringNotEqual" type="tns:StringList" />
            <s:element minOccurs="0" maxOccurs="1" name="decimalList" type="tns:DecimalList" />
            <s:element minOccurs="0" maxOccurs="1" name="decimalNotEqual" type="tns:DecimalList" />
            <s:element minOccurs="0" maxOccurs="1" name="stringEqual" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="decimalEqual" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="decimalRange" type="tns:DecimalRange" />
            <s:element minOccurs="0" maxOccurs="1" name="operand" type="s:string" />
          </s:choice>
        </s:sequence>
        <s:attribute name="id" type="s:string" />
      </s:complexType>
      <s:complexType name="StringList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeRange">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="start" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="end" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="value" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DecimalList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="value" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DecimalRange">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="start" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="end" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExtensionValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="value">
            <s:complexType>
              <s:simpleContent>
                <s:extension base="s:string">
                  <s:attribute name="id" type="s:string" />
                </s:extension>
              </s:simpleContent>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="BondPriceReqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BondPriceReqResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:Header" />
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="tns:ArrayOfBondPriceItem" />
                  <s:element minOccurs="0" maxOccurs="1" name="ext" type="tns:ArrayOfExtensionValue" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBondPriceItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BondPriceItem" type="tns:BondPriceItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BondPriceItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PriceId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PriceDateIBPA" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="BondCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceSource" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Yield" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BondType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LowPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HighPrice" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="BondIDXPriceReq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:Header" />
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="tns:ArrayOfFilterItem" />
                  <s:element minOccurs="0" maxOccurs="1" name="ext" type="tns:ArrayOfExtensionValue" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BondIDXPriceReqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BondIDXPriceReqResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:Header" />
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="tns:ArrayOfBondPriceItemIDX" />
                  <s:element minOccurs="0" maxOccurs="1" name="ext" type="tns:ArrayOfExtensionValue" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBondPriceItemIDX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BondPriceItemIDX" type="tns:BondPriceItemIDX" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BondPriceItemIDX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PriceId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PriceDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="BondCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceSource" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Yield" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BondType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LowPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HighPrice" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BondPriceReqSoapIn">
    <wsdl:part name="parameters" element="tns:BondPriceReq" />
  </wsdl:message>
  <wsdl:message name="BondPriceReqSoapOut">
    <wsdl:part name="parameters" element="tns:BondPriceReqResponse" />
  </wsdl:message>
  <wsdl:message name="BondIDXPriceReqSoapIn">
    <wsdl:part name="parameters" element="tns:BondIDXPriceReq" />
  </wsdl:message>
  <wsdl:message name="BondIDXPriceReqSoapOut">
    <wsdl:part name="parameters" element="tns:BondIDXPriceReqResponse" />
  </wsdl:message>
  <wsdl:portType name="eBOCSPriceServicesSoap">
    <wsdl:operation name="BondPriceReq">
      <wsdl:input message="tns:BondPriceReqSoapIn" />
      <wsdl:output message="tns:BondPriceReqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BondIDXPriceReq">
      <wsdl:input message="tns:BondIDXPriceReqSoapIn" />
      <wsdl:output message="tns:BondIDXPriceReqSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eBOCSPriceServicesSoap" type="tns:eBOCSPriceServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BondPriceReq">
      <soap:operation soapAction="http://kpei.co.id/BondPriceReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BondIDXPriceReq">
      <soap:operation soapAction="http://kpei.co.id/BondIDXPriceReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eBOCSPriceServicesSoap12" type="tns:eBOCSPriceServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BondPriceReq">
      <soap12:operation soapAction="http://kpei.co.id/BondPriceReq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BondIDXPriceReq">
      <soap12:operation soapAction="http://kpei.co.id/BondIDXPriceReq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eBOCSPriceServices">
    <wsdl:port name="eBOCSPriceServicesSoap" binding="tns:eBOCSPriceServicesSoap">
      <soap:address location="http://192.168.52.197/eBOCSPriceServices/eBOCSPriceServices.asmx" />
    </wsdl:port>
    <wsdl:port name="eBOCSPriceServicesSoap12" binding="tns:eBOCSPriceServicesSoap12">
      <soap12:address location="http://192.168.52.197/eBOCSPriceServices/eBOCSPriceServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>